In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/compare.csv')
df

      type  size   pin   runtime   usertime     energy
0   oracle   500  True  0.047603   0.736316   1.975892
1       mt   500  True  0.053195   0.697658   2.062820
2       rt   500  True  0.053089   0.701757   2.068522
3   oracle   750  True  0.156946   2.459536   6.720744
4       mt   750  True  0.173196   2.341707   6.942552
5       rt   750  True  0.172907   2.345082   6.989298
6   oracle  1000  True  0.408577   6.427855  17.592106
7       mt  1000  True  0.454932   6.232541  18.426568
8       rt  1000  True  0.453404   6.166117  18.486012
9   oracle  1250  True  0.933753  10.882166  39.036261
10      mt  1250  True  1.077489  12.983621  42.437165
11      rt  1250  True  1.067884  12.429287  41.541351
12  oracle  1500  True  1.876165  21.221229  75.799706
13      mt  1500  True  2.291834  26.070262  84.061277
14      rt  1500  True  2.279979  26.128975  83.806273

In [3]:
def totals(lhs, rhs):
    print(lhs, 'vs', rhs)
    x = df[df['type'] == lhs].copy().reset_index(drop=True)
    y = df[df['type'] == rhs].copy().reset_index(drop=True)
    
    for (_,x), (_,y) in zip(x.iterrows(), y.iterrows()):
        print(f'{x['size']:>4} & {str(x['pin']):>5} & {x['energy']:.4f} & {y['energy']:.4f} & {x['runtime']:.4f} & {y['runtime']:.4f}')

totals('mt', 'oracle')
print()
totals('mt', 'rt')

mt vs oracle
 500 &  True & 2.0628 & 1.9759 & 0.0532 & 0.0476
 750 &  True & 6.9426 & 6.7207 & 0.1732 & 0.1569
1000 &  True & 18.4266 & 17.5921 & 0.4549 & 0.4086
1250 &  True & 42.4372 & 39.0363 & 1.0775 & 0.9338
1500 &  True & 84.0613 & 75.7997 & 2.2918 & 1.8762

mt vs rt
 500 &  True & 2.0628 & 2.0685 & 0.0532 & 0.0531
 750 &  True & 6.9426 & 6.9893 & 0.1732 & 0.1729
1000 &  True & 18.4266 & 18.4860 & 0.4549 & 0.4534
1250 &  True & 42.4372 & 41.5414 & 1.0775 & 1.0679
1500 &  True & 84.0613 & 83.8063 & 2.2918 & 2.2800

In [4]:
def compare(lhs, rhs):
    print('How many times is', rhs, 'better than', lhs)
    x = df[df['type'] == lhs].copy().reset_index(drop=True)
    y = df[df['type'] == rhs].copy().reset_index(drop=True)

    runtime_total = 0
    energy_total = 0
    length = 0

    print('size &   pin & energy & runtime')
    for (_,x), (_,y) in zip(x.iterrows(), y.iterrows()):
        size = x['size']
        pin = x['pin']
        energy_speedup = x['energy'] / y['energy']
        runtime_speedup = x['runtime'] / y['runtime']
        energy_total += energy_speedup
        runtime_total += runtime_speedup
        length += 1
        print(f'{size:>4} & {str(pin):>5} & {energy_speedup:.4f} & {runtime_speedup:.4f}')

    print('Energy avg speedup: ', energy_total / length)
    print('Runtime avg speedup:', runtime_total / length)

compare('mt', 'oracle')
print()
compare('rt', 'mt')

How many times is oracle better than mt
size &   pin & energy & runtime
 500 &  True & 1.0440 & 1.1175
 750 &  True & 1.0330 & 1.1035
1000 &  True & 1.0474 & 1.1135
1250 &  True & 1.0871 & 1.1539
1500 &  True & 1.1090 & 1.2216
Energy avg speedup:  1.0641091542674872
Runtime avg speedup: 1.1419929003447773

How many times is mt better than rt
size &   pin & energy & runtime
 500 &  True & 1.0028 & 0.9980
 750 &  True & 1.0067 & 0.9983
1000 &  True & 1.0032 & 0.9966
1250 &  True & 0.9789 & 0.9911
1500 &  True & 0.9970 & 0.9948
Energy avg speedup:  0.997716105505666
Runtime avg speedup: 0.9957785988806493