In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/compare.csv')
df

,type,size,pin,runtime,runtimestd,usertime,usertimestd,energy,energystd
0,oracle,500,False,0.047212,0.000111,0.732197,0.001017,2.058171,0.010085
1,mt,500,False,0.047511,0.000471,0.731085,0.009350,2.083143,0.022576
2,rt,500,False,0.050620,0.004306,0.629144,0.104006,2.123005,0.087056
3,oracle,750,False,0.152833,0.000920,2.404555,0.004808,6.783951,0.060354
4,mt,750,False,0.158751,0.003973,2.425030,0.019777,7.205336,0.297040
5,rt,750,False,0.169289,0.017277,2.109457,0.297716,7.414146,0.642080
6,oracle,1000,False,0.416224,0.009088,6.507715,0.074337,18.417448,0.654254
7,mt,1000,False,0.409373,0.002932,6.443825,0.031617,18.025550,0.201630
8,rt,1000,False,0.421534,0.012739,5.375195,1.041713,18.266885,0.313538
9,oracle,1250,False,0.878962,0.005565,6.961782,0.046180,37.545848,0.361071
10,mt,1250,False,1.011160,0.008846,15.958288,0.125823,42.504618,0.556763
11,rt,1250,False,1.182358,0.317490,8.828016,3.644296,41.856730,4.022032
12,oracle,1500,False,1.623962,0.012601,12.902977,0.101109,68.369898,0.634635
13,mt,1500,False,2.364629,0.023527,37.534332,0.565628,92.980212,0.450148
14,rt,1500,False,2.342488,0.617862,17.645731,8.724028,81.011546,10.106318
15,oracle,1750,False,2.529310,0.014681,20.125668,0.098753,107.976770,0.940241
16,mt,1750,False,3.521014,0.054983,55.727697,1.074530,143.974040,1.526952
17,rt,1750,False,3.619022,0.964605,27.542425,14.171535,126.823622,15.561198
18,oracle,500,True,0.047254,0.000137,0.732630,0.001088,2.040006,0.008951
19,mt,500,True,0.047353,0.000233,0.734909,0.003216,2.050291,0.013443
20,rt,500,True,0.057459,0.017508,0.684605,0.049814,2.183580,0.220266
21,oracle,750,True,0.157417,0.002761,2.465777,0.007309,6.950097,0.066176
22,mt,750,True,0.156108,0.007047,2.418068,0.020503,6.929039,0.281437
23,rt,750,True,0.190810,0.057571,2.278707,0.172558,7.430014,0.797675
24,oracle,1000,True,0.409786,0.003486,6.454164,0.027925,17.885669,0.193827
25,mt,1000,True,0.408747,0.001741,6.440199,0.020619,17.855064,0.075376
26,rt,1000,True,0.499365,0.162278,5.987996,0.538908,19.165864,2.128367
27,oracle,1250,True,0.935209,0.011257,10.893641,0.050812,39.131977,0.199569
28,mt,1250,True,1.014117,0.007678,16.013983,0.105547,42.463834,0.536120
29,rt,1250,True,1.172511,0.420852,13.592818,2.090925,43.121431,6.026695
30,oracle,1500,True,1.938067,0.057792,21.836401,0.367660,77.014400,1.694722
31,mt,1500,True,2.364710,0.017165,37.570561,0.419553,92.632513,0.350716
32,rt,1500,True,2.596925,1.082317,29.797317,6.602901,89.785995,16.903849
33,oracle,1750,True,3.168302,0.126070,35.299553,0.669228,126.056708,3.525924
34,mt,1750,True,3.524632,0.069174,55.815797,1.223817,144.033351,1.393243
35,rt,1750,True,4.032625,1.527889,46.126806,8.748704,143.248752,23.154405

In [3]:
def totals(lhs, rhs):
    print(lhs, 'vs', rhs)
    x = df[df['type'] == lhs].copy().reset_index(drop=True)
    y = df[df['type'] == rhs].copy().reset_index(drop=True)

    print('            & Size & Energy x & Energy y & Runtime x & Runtime y \\\\\\hline')
    
    prev = None
    for (_,x), (_,y) in zip(x.iterrows(), y.iterrows()):
        if prev != x['pin']:
            pin = 'w/ pinning' if x['pin'] else 'w/o pinning'
        else:
            pin = ''
        prev = x['pin']
        print(f'{pin:<11} & {x['size']:>4} & {x['energy']:.4f} & {y['energy']:.4f} & {x['runtime']:.4f} & {y['runtime']:.4f} \\\\')

totals('mt', 'oracle')
print()
totals('mt', 'rt')

mt vs oracle
            & Size & Energy x & Energy y & Runtime x & Runtime y \\\hline
w/o pinning &  500 & 2.0831 & 2.0582 & 0.0475 & 0.0472 \\
            &  750 & 7.2053 & 6.7840 & 0.1588 & 0.1528 \\
            & 1000 & 18.0256 & 18.4174 & 0.4094 & 0.4162 \\
            & 1250 & 42.5046 & 37.5458 & 1.0112 & 0.8790 \\
            & 1500 & 92.9802 & 68.3699 & 2.3646 & 1.6240 \\
            & 1750 & 143.9740 & 107.9768 & 3.5210 & 2.5293 \\
w/ pinning  &  500 & 2.0503 & 2.0400 & 0.0474 & 0.0473 \\
            &  750 & 6.9290 & 6.9501 & 0.1561 & 0.1574 \\
            & 1000 & 17.8551 & 17.8857 & 0.4087 & 0.4098 \\
            & 1250 & 42.4638 & 39.1320 & 1.0141 & 0.9352 \\
            & 1500 & 92.6325 & 77.0144 & 2.3647 & 1.9381 \\
            & 1750 & 144.0334 & 126.0567 & 3.5246 & 3.1683 \\

mt vs rt
            & Size & Energy x & Energy y & Runtime x & Runtime y \\\hline
w/o pinning &  500 & 2.0831 & 2.1230 & 0.0475 & 0.0506 \\
            &  750 & 7.2053 & 7.4141 & 0.1588 & 0.1693 \\
            & 1000 & 18.0256 & 18.2669 & 0.4094 & 0.4215 \\
            & 1250 & 42.5046 & 41.8567 & 1.0112 & 1.1824 \\
            & 1500 & 92.9802 & 81.0115 & 2.3646 & 2.3425 \\
            & 1750 & 143.9740 & 126.8236 & 3.5210 & 3.6190 \\
w/ pinning  &  500 & 2.0503 & 2.1836 & 0.0474 & 0.0575 \\
            &  750 & 6.9290 & 7.4300 & 0.1561 & 0.1908 \\
            & 1000 & 17.8551 & 19.1659 & 0.4087 & 0.4994 \\
            & 1250 & 42.4638 & 43.1214 & 1.0141 & 1.1725 \\
            & 1500 & 92.6325 & 89.7860 & 2.3647 & 2.5969 \\
            & 1750 & 144.0334 & 143.2488 & 3.5246 & 4.0326 \\

In [7]:
def compare(lhs, rhs):
    print('How many times is', rhs, 'better than', lhs)
    x = df[df['type'] == lhs].copy().reset_index(drop=True)
    y = df[df['type'] == rhs].copy().reset_index(drop=True)

    runtime_total = 0
    energy_total = 0
    length = 0

    print('            & Size & Energy speedup & Runtime speedup \\\\\\hline')

    prev = None
    for (_,x), (_,y) in zip(x.iterrows(), y.iterrows()):
        if prev != x['pin']:
            pin = 'w/ pinning' if x['pin'] else 'w/o pinning'
        else:
            pin = ''
        prev = x['pin']
        
        size = x['size']
        energy_speedup = x['energy'] / y['energy']
        runtime_speedup = x['runtime'] / y['runtime']
        energy_total += energy_speedup
        runtime_total += runtime_speedup
        length += 1
        print(f'{pin:<11} & {size:>4} & {energy_speedup:.4f} & {runtime_speedup:.4f} \\\\')

    print('Energy avg speedup: ', energy_total / length)
    print('Runtime avg speedup:', runtime_total / length)

compare('mt', 'oracle')
print()
compare('rt', 'mt')

How many times is oracle better than mt
            & Size & Energy speedup & Runtime speedup \\\hline
w/o pinning &  500 & 1.0121 & 1.0063 \\
            &  750 & 1.0621 & 1.0387 \\
            & 1000 & 0.9787 & 0.9835 \\
            & 1250 & 1.1321 & 1.1504 \\
            & 1500 & 1.3600 & 1.4561 \\
            & 1750 & 1.3334 & 1.3921 \\
w/ pinning  &  500 & 1.0050 & 1.0021 \\
            &  750 & 0.9970 & 0.9917 \\
            & 1000 & 0.9983 & 0.9975 \\
            & 1250 & 1.0851 & 1.0844 \\
            & 1500 & 1.2028 & 1.2201 \\
            & 1750 & 1.1426 & 1.1125 \\
Energy avg speedup:  1.1091022506823178
Runtime avg speedup: 1.1196159805214831

How many times is mt better than rt
            & Size & Energy speedup & Runtime speedup \\\hline
w/o pinning &  500 & 1.0191 & 1.0654 \\
            &  750 & 1.0290 & 1.0664 \\
            & 1000 & 1.0134 & 1.0297 \\
            & 1250 & 0.9848 & 1.1693 \\
            & 1500 & 0.8713 & 0.9906 \\
            & 1750 & 0.8809 & 1.0278 \\
w/ pinning  &  500 & 1.0650 & 1.2134 \\
            &  750 & 1.0723 & 1.2223 \\
            & 1000 & 1.0734 & 1.2217 \\
            & 1250 & 1.0155 & 1.1562 \\
            & 1500 & 0.9693 & 1.0982 \\
            & 1750 & 0.9946 & 1.1441 \\
Energy avg speedup:  0.9990375243487771
Runtime avg speedup: 1.1171031362349628